# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Next.js
.next/
out/

# Vercel
.vercel

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Facebook authentication
appstate.json
fb_dtsg_data.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?